@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;800&display=swap');

body {
  margin: 0;
  background-color: #212632;
  color: #c0d3dd;
  font-family: 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
  display: flex;
  justify-content: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.wrapper {
  max-width: 350px;
}

.advice {
  border-radius: 10px;
  padding: 20px;
  border: 50px;
  background-color: #303A49;
  font-weight: 800;
  position: relative;
  height: 160px;
}

p:first-child {
  color: #54FCA9;
  font-weight: 400;
  font-size: 10px;
  letter-spacing: 2px;
}

.dice-round {
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #54FCA9;
  align-self: center;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dice-round img {
  margin-top: 15px;
  width: 20px;
}